.dashboard-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header  header'
    'table   map'
    'footer  footer';
  width: 100%;
  height: 100%;
}

.dashboard-header {
  grid-area: header;
  padding: 20px;
  display: flex;
  align-items: center;
}

.dashboard-title {
  font-size: 2em;
  margin: 0;
  color: white;
}

.dashboard-county-table-container {
  grid-area: table;
  display: flex;
}

.dashboard-county-svg-container {
  grid-area: map;
  background-color: rgb(238, 229, 247);
  display: flex;
}
