.county-table-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.county-table-scroll {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  overflow-x: hidden;

  width: 100%;
  display: flex;
  justify-content: center;
}

.county-table {
  border-collapse: collapse;
  width: auto;
  min-width: 500px;
  color: #FFFFFF;
}

.county-table th {
  padding: 10px;
  background-color: #ccc;
  border-bottom: 1px solid #333;
}
.county-table td {
  padding: 10px;
  background-color: #292424;
  border-bottom: 1px solid #333;
}

.county-table th {
  text-align: left;
  font-weight: bold;
}
