.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    'header header'
    'sidebar main';
  height: 100vh;
}

.header {
  grid-area: header;
  background: #444;
  color: #fff;
  padding: 1rem;
  display: 'flex';
  justify-content: 'flex-end';
  padding: '1rem';
}

.sidebar {
  grid-area: sidebar;
  background: #222;
  color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 12px; /* vertical spacing */
}

.sidebar-item {
  background: #1a1a1a;
  padding: 12px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  color: white;
  transition: background 0.2s;
}

.sidebar-item:hover {
  background: #333;
}

.main {
  grid-area: main;
  padding: 1rem;
  background: #fafafa;
}
